data/ind.*
models
*.ipynb
bert_gnn
bert_gnn_ind
bert_sgc
__pycache__
data/*.*.*
data/*shuffle*
data/*vector*
.ipynb_checkpoints
data/corpus/*vocab*
nohup.out
checkpoints/*
checkpoint/*
,/*
data/corpus/*labels*
data/corpus/*shuffle*